---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*!
 *  Hack v2.020 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
/* FONT PATHS
 * -------------------------- */

{% assign hack_baseurl = '/assets/fonts/Hack-v2_020-webfonts' | append: site.baseurl %}
@font-face {
  font-family: 'Hack';
  src: url('{{ '/fonts/eot/latin/hack-regular-latin-webfont.eot?v=2.020' | prepend: hack_baseurl }}');
  src: url('{{ '/fonts/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.020' | prepend: hack_baseurl }}') format('embedded-opentype'), url('{{ '/fonts/woff2/latin/hack-regular-latin-webfont.woff2?v=2.020' | prepend: hack_baseurl }}') format('woff2'), url('{{ '/fonts/woff/latin/hack-regular-latin-webfont.woff?v=2.020' | prepend: hack_baseurl }}') format('woff'), url('{{ '/fonts/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.020' | prepend: hack_baseurl }}') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('{{ '/fonts/eot/latin/hack-bold-latin-webfont.eot?v=2.020' | prepend: hack_baseurl }}');
  src: url('{{ '/fonts/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.020' | prepend: hack_baseurl }}') format('embedded-opentype'), url('{{ '/fonts/woff2/latin/hack-bold-latin-webfont.woff2?v=2.020' | prepend: hack_baseurl }}') format('woff2'), url('{{ '/fonts/woff/latin/hack-bold-latin-webfont.woff?v=2.020' | prepend: hack_baseurl }}') format('woff'), url('{{ '/fonts/web-ttf/latin/hack-bold-latin-webfont.ttf?v=2.020' | prepend: hack_baseurl }}') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('{{ '/fonts/eot/latin/hack-italic-latin-webfont.eot?v=2.020' | prepend: hack_baseurl }}');
  src: url('{{ '/fonts/eot/latin/hack-italic-latin-webfont.eot?#iefix&v=2.020' | prepend: hack_baseurl }}') format('embedded-opentype'), url('{{ '/fonts/woff2/latin/hack-italic-latin-webfont.woff2?v=2.020' | prepend: hack_baseurl }}') format('woff2'), url('{{ '/fonts/woff/latin/hack-italic-latin-webfont.woff?v=2.020' | prepend: hack_baseurl }}') format('woff'), url('{{ '/fonts/web-ttf/latin/hack-italic-latin-webfont.ttf?v=2.020' | prepend: hack_baseurl }}') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('{{ '/fonts/eot/latin/hack-bolditalic-latin-webfont.eot?v=2.020' | prepend: hack_baseurl }}');
  src: url('{{ '/fonts/eot/latin/hack-bolditalic-latin-webfont.eot?#iefix&v=2.020' | prepend: hack_baseurl }}') format('embedded-opentype'), url('{{ '/fonts/woff2/latin/hack-bolditalic-latin-webfont.woff2?v=2.020' | prepend: hack_baseurl }}') format('woff2'), url('{{ '/fonts/woff/latin/hack-bolditalic-latin-webfont.woff?v=2.020' | prepend: hack_baseurl }}') format('woff'), url('{{ '/fonts/web-ttf/latin/hack-bolditalic-latin-webfont.ttf?v=2.020' | prepend: hack_baseurl }}') format('truetype');
  font-weight: 700;
  font-style: italic;
}


// // Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
//
// $spacing-unit:     30px;
//
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
//
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);
//
// // Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;
//
// // Minima also includes a mixin for defining media queries.
// // Use media queries like this:
// // @include media-query($on-palm) {
// //     .wrapper {
// //         padding-right: $spacing-unit / 2;
// //         padding-left: $spacing-unit / 2;
// //     }
// // }
//
// // Import partials from the `minima` theme.
// @import "minima";

@import "custo-bootstrap";
