/** CV STYLE (c) Mickaël Floc'hlay // 2010-2011 // www.mickaelflochlay.com **/
body { background: #eee url(/img/cv-body-background.png) repeat-x scroll top; }
#container { background: #fff url(/img/cv-container-background.png) repeat-x scroll top; }

#container { margin: 60px auto; width: 1024px; }
#main { font-family: "Arial"; color: #555; font-size: 18pt; }
hr { 
    height: 2px; width: 100%; border: none; clear: both;
    background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.01, rgb(255,255,255)), color-stop(0.3, rgb(238,238,238)), color-stop(0.7, rgb(238,238,238)), color-stop(1, rgb(255,255,255)));
    background: -moz-linear-gradient(left center, rgb(255,255,255) 0%, rgb(238,238,238) 30%, rgb(238,238,238) 70%, rgb(255,255,255) 100%);
}

/** Header */
header { padding-top: 60px; padding-bottom: 20px; font-family: "Arial"; color: #555; font-size: 18pt; }
header h1, h2 { font-family: "Kreon", "Myriad Pro"; letter-spacing: -2pt; }
header h1 { color: #444; font-weight: bold; font-size: 42pt; }
header h2 { color: #aaa; font-weight: normal; font-size: 28pt; }
header img { float: left; padding: 0 30px 0 0; }
header p { margin: 20px 0; font-size: 11pt; color: #555; }
header ul { list-style-type: none; font-size: 11pt; color: #555; }
header .discrete { color: #aaa; }
header .texte { float: right; }
header a, a:visited { text-decoration: none; color: #aaa;}
header a:hover { text-decoration: underline; color: #0795F7;}

.section { padding-top: 10px; padding-bottom: 10px; }

/** Main */
#main .subsection { padding-top: 20px; padding-bottom: 20px; }

#main h3 { font-family: "Kreon", "Myriad Pro"; color: #444; }
#main h4 { color: #0795F7; font-family: "Kreon", "Myriad Pro"; font-weight: normal; font-size: 18pt; }
#main h5 { color: #888888; font-weight: normal; font-size: 14pt; }
#main p { color: #777777; font-size: 12pt; margin: 10px 0 0 0;}
#main ul { font-size: 11pt; color: #777; }