.noprint { display: none; }

header h1, h2 { font-family: "Myriad Pro"; }
#main h3 { font-family: "Myriad Pro"; }
#main h4 { font-family: "Myriad Pro"; }
#main h5 { font-family: "Myriad Pro"; }
a:after { content: none; } 
abbr:after { content: none; }

body { margin-top: -80px; }
header h1 { font-size: 21pt; letter-spacing: 0pt;}
header h2 { font-size: 14pt; letter-spacing: 0pt;}

header ul { margin-left: 0px; }

hr { display: none; }
header { padding-top: 60px; padding-bottom: 0px; } 
#main .subsection { padding-top: 0px; padding-bottom: 0px; }

h3 { font-size: 18pt; margin-bottom: 5px; }
#main h4 { font-size: 14pt; color: #0795F7; padding-top: 20px; font-weight: bold; }
h5 { font-size: 15pt; }
a { text-decoration: none; }